- @blocks.each do |block|
  .row.block
    .col-xs-12.title
      %span.editable{data:{controller: 'blocks', object_id: block.id, action: 'edit_attributes', attribute: 'title'}}= block.title
      .row
        .col-xs-12.takeaway.editable{data:{controller: 'blocks', object_id: block.id, action: 'edit_attributes', attribute: 'takeaway'}}= block.takeaway
    - if @blocks.length > 1
      .delete-btn
        = link_to block, method: :delete do
          %span.glyphicon.glyphicon-remove
    .move-up-btn
      = link_to move_up_block_path(block) do
        %span.glyphicon.glyphicon-arrow-up