= link_to edit_block_path(@block), class: "block-link", remote: true, data: {toggle: "modal", target: "#myModal"} do
  .row.title
    .col-xs-12
      %h2= @block.title
  .row.keypoints
    .col-xs-10.col-xs-offset-1.points
      %ul
        - @block.points.each do |point|
          - unless point.content.blank?
            %li= point.content
  .row.takeaway
    .col-xs-10.col-xs-offset-1.text
      %h4= @block.takeaway