.row
  .col-xs-9.title
    %h4 
      = @subject.title
  .col-xs-3.edit
    = link_to 'Edit', edit_subject_path(@subject)
.row
  .col-xs-12.content
    %ul.list-group
      %li.list-group-item
        = @subject.takeaway