// Place all the styles related to the canvases controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

body.canvases {
  #sidebar {
    .canvas-title {
      text-align: center;
      color: black;
      
      h1 {
        margin-top: 0px;
        line-height: 28px;
        margin-bottom: 20px;
      }
      &:hover {
        text-decoration: none;
        color: #666;
      }
    }
    .blocks {
      .block {
        background: #357ebd;
        color: white;
        margin-bottom: 2px;
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: center;
        position: relative;
        
        &:first-child {
          border-top-right-radius: 5px;
          border-top-left-radius: 5px;
          
          .delete-btn {
            border-top-left-radius: 5px;
          }
          .move-up-btn {
            display: none;
          }
        }
        &:last-child {
          border-bottom-right-radius: 5px;
          border-bottom-left-radius: 5px;
          
          .delete-btn {
            border-bottom-left-radius: 5px;
          }
          .move-up-btn {
            border-bottom-right-radius: 5px;
          }
        }
        &:hover {
          .delete-btn, .move-up-btn {
            opacity: 1;
            
            a {
              display: block;
            }
          }
        }
        .takeaway{
          font-size: 11px;
        }
        .delete-btn, .move-up-btn {
          position: absolute;
          opacity: 0;
          background: rgba(0,0,0,0.5);
          width: 40px;
          top: 0px;
          bottom: 0px;
          line-height: 31px;
          
          @include transition-duration(.25s);
        }
        .move-up-btn {
          right: 0px;
        }
      }
    }
    .add-block {
      text-align: center;
      margin-top: 10px;
    }
  }
  
  .modal-content {
    padding-left: 15px;
    padding-right: 15px;
    
    .keypoints {
      .keypoint {
        background: #eee;
        display: block;
        overflow: hidden;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-bottom: 15px;
        
        .keypoint-content {
          resize: none;
          width: 100%;
          border-radius: 5px;
          border: 1px solid #ddd;
        }
        .btn-primary, .btn-danger{
          margin-top: 5px;
        }
      }
    }
  }
}