// Place all the styles related to the canvases controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.canvases {
  #sidebar {
    .canvas-title {
      text-align: center;
      color: black;
      &:hover {
        text-decoration: none;
        color: #666;
      };
    }
    .blocks {
      .add-block {
        text-align: center;
        margin-top: 10px;
      }
      .block{
        background: #e9e9e9;
        margin-bottom: 2px;
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: center;
        
        .takeaway{
          font-size: 11px;
        }
      }
    }
  }
  .canvas {
    .block {
      border: 1px solid #a1a1a1;
      
      a.block-link {
        display: block;
        color: black;
        overflow: hidden;
        
        .title {
          text-align: center;
        }
        .keypoints {
          height: 300px;
        }
        .takeaway {
          text-align: center;
          background: #eee;
        }
      }
    }
  }
}