// Place all the styles related to the canvases controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.canvases {
  #sidebar {
    .canvas-title {
      text-align: center;
      color: black;
      &:hover {
        text-decoration: none;
        color: #666;
      };
    }
    .blocks {
      .add-block {
        text-align: center;
        margin-top: 10px;
      }
      .block {
        background: #357ebd;
        color: white;
        margin-bottom: 2px;
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: center;
        
        &:first-child {
          border-top-right-radius: 5px;
          border-top-left-radius: 5px;
        }
        &:last-child {
          border-bottom-right-radius: 5px;
          border-bottom-left-radius: 5px;
        }
        .takeaway{
          font-size: 11px;
        }
      }
    }
  }
}