.col-xs-12.col-sm-3.sidebar-offcanvas#sidebar{role: 'navigation'}
  .list-group
    %a.list-group-item.active{href: '#'} Link
    %a.list-group-item{href: '#'} Link 2
    %a.list-group-item{href: '#'} Link 3
    %a.list-group-item{href: '#'} Link 4
    %a.list-group-item{href: '#'} Link 5