.row.canvas.show-grid
  .col-xs-12
    .row
      .col-sm-3.first-column
        Something!
      .col-sm-3.second-column
        .row.column-within
          .col-xs-12
            Something else!
        .row.column-within
          .col-xs-12
            Something awesome!
      .col-sm-3.third-column
        .row.column-within
          .col-xs-12
            Hooray!
        .row.column-within
          .col-xs-12
            Whatever
      .col-sm-3.fourth-column
        Yes, this got old quite fast
    .row
      .col-xs-6.fifth-column
        Something down below
      .col-xs-6.sixth-column
        And this thing right here at the end